

.mainbody {
    
    font-family: sans-serif !important;
}

#intro {
    word-wrap: break-word;
    height: 100px;
    width: 25%;
    color: dodgerblue;
}

#name {
    position: absolute;
    left: 70px;
    top: 90px;
}

img {
    border: 1px solid blue;
    border-radius: 2px;
    margin-right: 5px;
}

#pageStart {
    color: DarkBlue;
}

#reviews {
    color: cornflowerblue;
    height: 100px;
    width: 25%;
    word-wrap: break-word;
    margin-left: 20px;
}



.LinkTitle, .link{
    color: midnightblue !important;
    text-decoration: underline;
}

.col-sm-8{
    background-color: lightcyan !important;
}

.foo, #pagestart{
    margin-left: 10px;
}

.list-group-item {
    display: list-item;
  }